<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sceea.system.mapper.MarkInstitutionsMapper" >
  <resultMap id="BaseResultMap" type="com.sceea.system.po.MarkInstitutions" >
    <id column="mark_institutions_id" property="markInstitutionsId" jdbcType="INTEGER" />
    <result column="college_id" property="collegeId" jdbcType="INTEGER" />
    <result column="kaoci_id" property="kaociId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    mark_institutions_id, college_id, kaoci_id
  </sql>

  <select id="selectKaociAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from mark_institutions
    where kaoci_id = #{kaociId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mark_institutions
    where mark_institutions_id = #{markInstitutionsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mark_institutions
    where mark_institutions_id = #{markInstitutionsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sceea.system.po.MarkInstitutions" >
    insert into mark_institutions (college_id, kaoci_id
      )
    values (#{collegeId,jdbcType=INTEGER}, #{kaociId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sceea.system.po.MarkInstitutions" >
    insert into mark_institutions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="markInstitutionsId != null" >
        mark_institutions_id,
      </if>
      <if test="collegeId != null" >
        college_id,
      </if>
      <if test="kaociId != null" >
        kaoci_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="markInstitutionsId != null" >
        #{markInstitutionsId,jdbcType=INTEGER},
      </if>
      <if test="collegeId != null" >
        #{collegeId,jdbcType=INTEGER},
      </if>
      <if test="kaociId != null" >
        #{kaociId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sceea.system.po.MarkInstitutions" >
    update mark_institutions
    <set >
      <if test="collegeId != null" >
        college_id = #{collegeId,jdbcType=INTEGER},
      </if>
      <if test="kaociId != null" >
        kaoci_id = #{kaociId,jdbcType=INTEGER},
      </if>
    </set>
    where mark_institutions_id = #{markInstitutionsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sceea.system.po.MarkInstitutions" >
    update mark_institutions
    set college_id = #{collegeId,jdbcType=INTEGER},
      kaoci_id = #{kaociId,jdbcType=INTEGER}
    where mark_institutions_id = #{markInstitutionsId,jdbcType=INTEGER}
  </update>
</mapper>