<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sceea.system.mapper.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.sceea.system.po.Report" >
    <id column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="staff" property="staff" jdbcType="VARCHAR" />
    <result column="inspection_num" property="inspectionNum" jdbcType="INTEGER" />
    <result column="case_record" property="caseRecord" jdbcType="VARCHAR" />
    <result column="book" property="book" jdbcType="VARCHAR"/>
    <result column="assignment_id" property="assignmentId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
      report_id
      , staff, inspection_num, case_record, book, assignment_id
  </sql>
    <select id="selectAssignment" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from report
        where assignment_id = #{assignmentId,jdbcType=INTEGER}
    </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from report
    where report_id = #{reportId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from report
    where report_id = #{reportId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sceea.system.po.Report" >
      insert into report (staff, inspection_num,
                          case_record, book, assignment_id)
      values ( #{staff,jdbcType=VARCHAR}, #{inspectionNum,jdbcType=INTEGER},
              #{caseRecord,jdbcType=VARCHAR}, #{book,jdbcType=VARCHAR}, #{assignmentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sceea.system.po.Report" >
    insert into report
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="staff != null">
              staff,
          </if>
          <if test="inspectionNum != null">
              inspection_num,
          </if>
          <if test="caseRecord != null">
              case_record,
          </if>
          <if test="book != null">
              book,
          </if>
          <if test="assignmentId != null">
              assignment_id,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="staff != null">
              #{staff,jdbcType=VARCHAR},
          </if>
          <if test="inspectionNum != null">
              #{inspectionNum,jdbcType=INTEGER},
          </if>
          <if test="caseRecord != null">
              #{caseRecord,jdbcType=VARCHAR},
          </if>
          <if test="book != null">
              #{book,jdbcType=VARCHAR},
          </if>
      </trim>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sceea.system.po.Report">
        update report
        <set>
            <if test="staff != null">
                staff = #{staff,jdbcType=VARCHAR},
            </if>
            <if test="inspectionNum != null">
                inspection_num = #{inspectionNum,jdbcType=INTEGER},
            </if>
            <if test="caseRecord != null">
                case_record = #{caseRecord,jdbcType=VARCHAR},
            </if>
            <if test="book != null">
                book = #{book,jdbcType=VARCHAR},
            </if>
        </set>
        where report_id = #{reportId,jdbcType=INTEGER}
    </update>
  <update id="updateByPrimaryKey" parameterType="com.sceea.system.po.Report" >
      update report
      set staff          = #{staff,jdbcType=VARCHAR},
          inspection_num = #{inspectionNum,jdbcType=INTEGER},
          case_record    = #{caseRecord,jdbcType=VARCHAR},
          book           = #{book,jdbcType=VARCHAR},
      where report_id = #{reportId,jdbcType=INTEGER}
  </update>
</mapper>